{% extends "pricemin/mob/base_mob.html" %}
{%load staticfiles%}

{%block content%}
 <div class="block block_blue text_x-large">
  Выберите магазин
 </div>

                        {% for adress in adress_list %}
                            <a href="{%url 'products_adress' flag region.id adress.id town.id%}">
                              <div class="block block_white" title="Откройте для просмотра интересных предложений в магазине">
                                {{adress.prefix}} {{adress.street}}, {{adress.number}} 
                                <div class="text_center text_x-large text_grey"><strong> {{adress.adress_name}}</strong></div>
                                <table>
                                 <tr>
                                  <td align="left" valign="top" width="100%" class="text_xsmall">Пользователь: {{adress.user_id}}</td>  
                                  <td align="center" valign="top" class="text_xsmall">{{adress.adress_date|date:"d.m.y"}}</td>             
                                 </tr> 
                                </table>
                              </div>
                            </a>

                        {% empty %}
            <div class="block block_white">Для добавления продукта сначала добавте магазин</div>
                       {%endfor%}  
{%endblock%}

{% block button_Question %}
        <a href="/adress_list/pro/{{region.id}}/{{town.id}}">
         <div id="bottom-button-question">
           <img class="button_prompt"  src="{%static "pricemin/image/mob/buttons_mob/Question_off.png" %}">
           <p></p>
         </div>
        </a>
{% endblock %}

{% block button_1 %}
  <a href="{%url 'town' flag town.id%}">
	<div id="bottom-button">
      <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Home.png" %}" alt="">
	</div>
  </a>
{% endblock %}

{% block button_2 %}
  <div id="bottom-button">
    <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Off.png" %}" alt="">
  </div>
{% endblock %}

{% block button_3 %}
  <a href="{%url 'adress_create' flag region.id town.id%}">
     <div id="bottom-button">
       <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Add.png" %}" alt="">
     </div>
  </a>
{% endblock %}

{% block button_4 %}
  <a href="{%url 'search_adress_form' flag region.id town.id%}">
    <div id="bottom-button">
      <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Find.png" %}" alt="">
    </div>
  </a>
{% endblock %}
