{% extends "pricemin/mob/base_mob.html" %}
{%load staticfiles%}

{%block content%}
           <div class="block block_blue">
         {{town.town_name}}
       </div>
       <div class="block block_white text_center">
           {% if error %}
        <h3><p class="text_red">Пустой запрос!</p></h3>
        {% endif %}
        <p><h3>Введите "Название товара" или его часть для сортировки!</h3></p>
        <form action="{%url 'search_town_products' flag region.id town.id%}" method="GET">
         <input id="id_search" type="text" name="q"/>
                        <p><input id="id_submit" type="submit" value="Найти"></p>
             </form>
                <img style="max-width:100%;" src="{%static "pricemin/image/food.png" %}">
           </div>
{%endblock%}

{% block button_Question %}
  <a href="/search_town_products_form/pro/{{region.id}}/{{town.id}}">
    <div id="bottom-button-question">
      <img class="button_prompt"  src="{%static "pricemin/image/mob/buttons_mob/Question_off.png" %}">
    </div>
  </a>
{% endblock %}

{% block button_1 %}
  <a href="{%url 'town' flag town.id%}">
    <div id="bottom-button">
        <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Home.png" %}" alt="">
    </div>
  </a> 
{% endblock %}

{% block button_2 %}
  <div id="bottom-button">
    <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Off.png" %}" alt="">
  </div>
{% endblock %}

{% block button_3 %}
  <div id="bottom-button">
    <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Off.png" %}" alt="">
  </div>
{% endblock %}

{% block button_4 %}
  <div id="bottom-button">
    <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Off.png" %}" alt="">
  </div>
{% endblock %}
