{% extends "pricemin/mob/base_mob.html" %}
{%load staticfiles%}

{%block content%}

 <div class="block block_blue text_x-large text_center">
  {{region}}
 </div>

 {%for town in town_list%}
  <a href="{%url 'town' flag town.id%}">
   <div class="block block_white text_x-large text_center">
    {{town.prefix}} {{town.town_name}}
   </div>
  </a>
 {% empty %}
  <div class="block block_white text_x-large text_center">
   <strong>Для начала добавте свой город</strong>
  </div>
 {%endfor%}

{%endblock%}

{% block button_Question %}
  <a href="/pro/{{region.id}}/town_list/">
    <div id="bottom-button-question">
     <img class="button_prompt"  src="{%static "pricemin/image/mob/buttons_mob/Question_off.png" %}">
    </div>
  </a>
{% endblock %}

{% block button_1 %}
  <div id="bottom-button">
    <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Off.png" %}" alt="">
  </div>
{% endblock %}

{% block button_2 %}
  <a href="{%url 'index_mob' %}">
    <div id="bottom-button">
       <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Up.png" %}" alt="">
    </div>
  </a>
{% endblock %}

{% block button_3 %}
  <a href="{%url 'town_create' flag region.id%}">
    <div id="bottom-button">
        <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Add.png" %}" alt="">
    </div>
  </a> 
{% endblock %}

{% block button_4 %}
  <a href="{%url 'search_town_form' flag region.id%}">
    <div id="bottom-button">
        <img class="button" src="{%static "pricemin/image/mob/buttons_mob/Find.png" %}" alt="">
    </div>
  </a> 
{% endblock %}

