{% extends "pricemin/des/base.html" %}
{%load staticfiles%}
	   
	   {% block article %}
  	    <div class="block block_blue">
         {{town.town_name}}
        </div> 
	   <div class="block block_white text_center">
        <p><h3>Информация о продукте</h3></p>
        <form action="{%url 'product_update_adress' flag region.id adress.id product.id town.id%}" method="POST">
         {%csrf_token%}
			<p>{{form.user_id}}</p>
			<p>{{form.adress}}</p>
			<label for="prefix">Название:</label>
			<p>{{form.product_name}}</p>
			<label for="town_name">Вес/Кол-во (гр./мл./шт.):</label>
			<p>{{form.product_weight}}</p>
			<label for="town_name">Цена:</label>
			<p>{{form.product_price}}</p>
			<p><input id="id_submit" type="submit" size="50" value="Сохранить"></p>
           			
        </form>
      </div>	 
	   {% endblock %}

       {% block button_Home_des %}	
       <img class="button" src="{%static "pricemin/image/des/buttons/Off_des.png" %}" alt="">   
	   {% endblock %}
	   
       {% block button_Up_des %}	
        <a href="{%url 'products_adress' flag region.id adress.id town.id%}">
         <img class="button" src="{%static "pricemin/image/des/buttons/Up_des.png" %}" alt="">
        </a>    
	   {% endblock %}

	   {% block button_Add_des %}
	   <img class="button" src="{%static "pricemin/image/des/buttons/Off_des.png" %}" alt="">
	   {% endblock %}
	   
	   {% block button_Find_des %}
	   <img class="button" src="{%static "pricemin/image/des/buttons/Off_des.png" %}" alt="">
	   {% endblock %}