{% extends "pricemin/des/base.html" %}
{%load staticfiles%}

	   {%block asideEvents%}
	   {% endblock %}
	   
	   {% block article %}
	   
  	    <div class="block block_blue">
         {{town.town_name}}
        </div> 
	   <div class="block block_white text_center">
        <h3>Внесите изменения</h3>
        <form action="{%url 'update_event' flag event.id town.id%}" method="POST">
         {%csrf_token%}
            <p>{{form.town}}</p>
			<p>{{form.user_id}}</p>
			<p>{{form.event}}</p>
			<label for="prefix">Событие:</label>
			<p>{{form.prefix}}</p>
			<label for="">Где проходит событие:</label>
			<p>{{form.eventWhere}}</p>
			<label for="">Начало:</label>
			<p>{{form.eventStart}}</p>
			<label for="">Окончание:</label>
			<p>{{form.eventStop}}</p>
			
			<label for="">Описание:</label>
			<p>{{form.eventComment}}</p>
			
			<p><input id="id_submit" type="submit" size="50" value="Сохранить"></p>
           		
        </form>
       </div>
	   {% endblock %}

       {% block button_Home_des %}	
        <a href="{%url 'town' flag town.id%}">
         <img class="button" src="{%static "pricemin/image/des/buttons/Home_des.png" %}" alt="">
        </a>   
       {% endblock %}
       
       {% block button_Up_des %}
       <a href="{%url 'events' flag town.id%}">
        <img class="button" src="{%static "pricemin/image/des/buttons/Up_des.png" %}" alt="">
       </a>	
       {% endblock %}
       
       {% block button_Add_des %}
       <img class="button" src="{%static "pricemin/image/des/buttons/Off_des.png" %}" alt="">
       {% endblock %}
       
       {% block button_Find_des %}
       <img class="button" src="{%static "pricemin/image/des/buttons/Off_des.png" %}" alt="">
       {% endblock %}
