{% extends "pricemin/des/base.html" %}
{%load staticfiles%}

   
       {% block button_Question_des %}
       {% endblock %}
  	   
       {% block button_Home_des %}	   
	   {% endblock %}
	   
       {% block button_Add_des %}	  
	   {% endblock %}
	   
       {% block button_Up_des %}	   
	   {% endblock %}
	   
       {% block button_Update_des %}	   
	   {% endblock %}
	   
       {% block button_Find_des %}	  
	   {% endblock %}
	   
	   {% block aside%}
	   <div class="block block_white"> 

       </div> 
	   {% endblock %}
	   
	   {% block article %}             

			      <div class="block block_white" title="Нажмите для перехода в требуемый город">
                   <strong>Ваш аккаунт заблокирован в соответствии с правилами пользования программой.<br>
                   Для возобновления входа используйте пожалуйста другой социальный аккаунт.
                   </strong>			      
			      </div>
 
	   {% endblock %}